<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">

    <title>Timestamp Microservice</title>

  </head>
  <body>

    <main>

      <h1>Timestamp Microservice</h1>
      <div class="content">
        <h2>Usage:</h2>
        <ul>
          <li>
            <a href="/api/2022-11-21">/api/2022-11-21</a>
          </li>
          <li>
            <a href="/api/1668988800000">/api/1668988800000</a>
          </li>
        </ul>
      </div>

      <div class="example">
        <h2>Example Output:</h2>
        <code>{"unix": 1669083636626, "utc": "Tue, 21 Nov 2022 02:20:36 GMT"}</code>
      </div>

      <footer>
        Developed by <a href="https://github.com/kurotom">@kurotom</a>
      </footer>

    </main>

  </body>
</html>
